@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-serif: var(--font-lora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f2e9;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), var(--font-lora), sans-serif;
}

.ProseMirror {
  outline: none;
  font-family: var(--font-lora), serif;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #9ca3af; /* Tailwind gray-400 */
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-family: var(--font-lora), serif;
  
}

